<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>group</title>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.easyui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/demo/demo.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <style>
        body{margin:0;padding:0}
    </style>
    <script>
    var host="http://"+window.location.host;
    jQuery(document).ready(function(){  

        jQuery('#group_list').datagrid({
            //title:'Group',
            method:'GET',
            rownumbers:true,
            fitColumns:true,
            pagination:false,
            border:false,
            //width:500,
            url:host+"/group/view",
            columns:[[
                {field:'group_id',title:'group_id',width:10},     
                {field:'group_name',title:'group_name',width:90}     
            ]],
            toolbar:[
                {text:"新建",iconCls:"icon-add",handler:function(){add_group();}},
                {text:"修改",iconCls:"icon-edit",handler:function(){edit_group();}},
                {text:"删除",iconCls:"icon-remove",handler:function(){del_group();}}
            ]
        });
    });
    var url;
    function add_group(){
       jQuery('#group_add_edit').dialog('open').dialog('setTitle','Add Group');
       url=host+"/group/new";
    }
    function edit_group(){
    	var row=jQuery('#group_list').datagrid('getSelected');
    	if(row){
        	jQuery('#group_add_edit').dialog('open').dialog('setTitle','Edit Group');

        	url=host+"/group/edit/"+row.group_id;
    	}else{
    		jQuery.messager.show({
                title:'提示',
                msg:'请选择一条记录'
            });
    	}

    }
    function save_group(){
        jQuery('#group_form').form('submit',{
            url:url,
            onSubmit:function(){
                return jQuery(this).form('validate');
                //alert(url);
            },
            success:function(result){
                var result=eval('('+result+')');
                if(result.msg){
                    jQuery.messager.show({
                        title:'Error',
                        msg:result.msg
                    });
                }else{
                    var getTimestamp=new Date().getTime();
                    url=host+"/group/view/?timestamp="+getTimestamp;
                    jQuery('#group_add_edit').dialog('close');
                    jQuery('#group_list').datagrid('reload',{
                        url:url
                    });
                }
                
            }
        });
    }
    function del_group(){
        var row = jQuery('#group_list').datagrid('getSelections');
        var group_ids=new Array();
        for(var i=0;i<row.length;i++){
            var id=row[i].group_id;
            //alert(id);
            group_ids.push(id);
            //alert(group_ids.toString());
        }
       // alert(group_ids.length)
       // alert(group_ids.toString())
        if(row.length!=0){
            jQuery.messager.confirm('Confirm','Are you sure you want to destroy this group?',function(r){
                if(r){
                    jQuery.post(host+'/group/delete',{group_idstr:group_ids.toString()},function(result){
                        if(result.success){
                            jQuery('#group_list').datagrid('reload');    // reload the user data
                        }else{
                            jQuery.messager.show({    // show error message
                                title: 'Error',
                                msg: result.msg
                            });
                        }
                    },'json');
                }
            });
        }else{
            jQuery.messager.show({
                title:'提示',
                msg:'请选择一条记录'
            });
        }
    }
    </script>
</head>
<body>
    <div id="group_list"></div>
    
    <div id="group_add_edit" class="easyui-dialog" style="width:500px;height:250px;padding:10px 20px" closed="true" buttons="#group_buttons" modal="true">
        <div class="ftitle">Add Group</div>
        <form id="group_form" method="post">
            <div class="fitem">
                <label>Group Name:</label>
                <input name="group_name" class="easyui-validatebox" required="true">
            </div>
        </form>
    </div>
    <div id="group_buttons">
        <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="save_group()">Save</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:jQuery('#group_add_edit').dialog('close')">Cancel</a>
    </div>
    


</body>
</html>